<config>
	<datasource type="mysql" db="sakila" host="localhost" port="3306"
		user="graphbi" password="graphbi">
		<links>
		</links>
		<linktables>
			<linktable name="film_actor">
				<link name="actor" fromTable="film" fromColumn="film_id"
					toTable="actor" toColumn="actor_id" />
			</linktable>
			<linktable name="film_category">
				<link name="category" fromTable="film" fromColumn="film_id"
					toTable="category" toColumn="category_id" />
			</linktable>
		</linktables>
	</datasource>
	<datasink type="neo4j" path="target/db" />
</config>